#container
{
text-align: center;
}

#picture img /*this means all images under the picture id */
{
  width: auto;
  height: 800px;
  align: center;

}

h1
{
font-family:"Garamond";
font-style:"Bold";

}

h2
{
font-family:"Garamond";
Font-style:"Normal";

}
